doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title 十、婚姻定義 (你是否同意民法婚姻規定應限定在一男一女的結合？) | 公投指南
		link(rel="mask-icon" sizes="any" href="https://www.sean.taipei/logo.svg")
		link(rel="icon" type="image/png" href="https://www.sean.taipei/logo-192.png" sizes="192x192")
		link(rel="icon" type="image/png" href="https://www.sean.taipei/logo-128.png" sizes="128x128")
		link(rel="icon" type="image/png" href="https://www.sean.taipei/logo-96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="https://www.sean.taipei/logo-64.png" sizes="64x64")
		link(rel="icon" type="image/png" href="https://www.sean.taipei/logo-32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="https://www.sean.taipei/logo-16.png" sizes="16x16")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="keywords" content="婚姻定義, 公投指南")
		meta(name="description" content="許台灣一個更美好的未來")
		meta(property="og:title" content="公投指南")
		meta(property="og:url" content="https://sean.cat/vote/")
		meta(property="og:image" content="https://sean.cat/vote/img/cover10.jpg")
		meta(property="og:image:secure_url" content="https://sean.cat/vote/img/cover10.jpg")
		meta(property="og:image:type" content="image/jpeg")
		meta(property="og:image:width" content="1024")
		meta(property="og:image:height" content="683")
		meta(property="og:type" content="website")
		meta(property="og:description" content="許台灣一個更美好的未來")
		meta(property="og:site_name" content="Sean's Website")
		meta(property="fb:app_id" content="1654538528156949")
		link(href="/assets/css/tocas-ui/tocas.css" rel="stylesheet")
		link(href="./style.css" rel="stylesheet")
		// Google Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)
			},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-100002738-1', 'auto');
			ga('send', 'pageview');
		// End Google Analytics
	body(onresize="resize()")
		nav.ts.basic.fluid.borderless.menu.horizontally.scrollable
			.ts.container
				a.item#home(href=".") 回各案列表
				.right.fitted.item
					b.item(style="background-color: #FF0000B3; color: white; border-radius: 0 0 3px 3px;")
						| 公投倒數&nbsp;
						span#countdown 10
						| &nbsp;天
		header.ts.fluid.vertically.padded.heading.slate
			.ts.narrow.container
				.header 婚姻定義
				.description 你是否同意民法婚姻規定應限定在一男一女的結合？
		.ts.container(name="main")
			div.ts.cards#opinions
				div.ts.card
					div.image
						img.cover(src="img/cover10.jpg")
						p.photo-credit Photo Credit: 中央社
					div.content
						div.header 10. 婚姻定義
						div.proposal.description 你是否同意民法婚姻規定應限定在一男一女的結合？
						div.right.floated.author
							img.ts.circular.avatar.image(src="img/fhl.png")
							| 領銜人：游信義
					div.extra.content
						div.description
							p 反同團體認為，婚姻本是男女之事，也才能充分彰顯婚姻價值，不應擴大至一男一女之外的組合，但因大法官 748 號解釋造成社會的動盪不安，希望藉由公投重申婚姻僅限於男女的概念。
							p 大法官釋字具有效力，已在解釋文中指出，無配偶且適婚人民具有結婚自由，自由包含選擇結婚對象的自由，婚姻自然不限於男女。
			hr
			h2 本頁面持續建置中
			p 歡迎於首頁內容建議表單提供更多正反意見卡片
			.addthis_inline_share_toolbox
		footer.ts.fluid.slate
			.ts.container
				p 網站本體由 
					a(target="_blank" href="https://www.sean.taipei/" onclick="ga('send', 'event', 'Outgoing', 'About', 'VOTE');") Sean 韋詠祥
					|  製作
				p 本站資料自網路編輯而來，為促進公民討論，在法律許可範圍內本站內容以 
					a(target="_blank" href="http://creativecommons.tw/cc0" onclick="ga('send', 'event', 'Outgoing', 'CC0', 'VOTE');") CC0
					|  條款無條件釋出
	script(src="js/proposal.js")
	script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5be5b0552c0681c3")
